/* main container */
.container {
  background-color: #ffffff;
  padding: 20px;
 }

 .header {
    background-color: #343a40;
    padding: 1px 20px;
    color: white;
    font-size: 18px;
  }
  
  /* content-1 (index.html)*/
  .content-1{
    padding: 30px 41px;
   }

   /* Top bar (Only for the search box) */
   .top-bar input[type="text"] {
    padding: 8px 12px;
    width: 600px;
    border: 1px solid #ced4da;
    border-radius: 5px;
   }
  
   /* Top bar (only search & New-book button ) */
   .top-bar button {
    padding: 8px 14px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
   }          
   .top-bar .search-btn {
    background-color: #007bff;
   }
   .top-bar #newBookBtn {
    background-color: #28a745;

   }
   .top-bar #newBookBtn a{
    text-decoration: none;
    color: #fff;
   }
  

   /* Table styling */
   .table1 {
    width: 100%;
    border-collapse: collapse;
   }
     
             /* table header & data */
    .table1 th, .table1 td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
   }
             /* row border color set */
    .table1 tr:nth-child(even) {
    background-color: #f2f2f2;
   }
  
   .bookDetailsBtn{
    color: #0512ce;
    background-color: #f2f4f7;
    border-color: #635ae2;
    border-radius: 5px;
    cursor: pointer;
   }
  
   .bookUpdateBtn{
    color: #d3a314;
    background-color: #f5f4f0;
    border-color: #ffc107;
    border-radius: 5px;
    cursor: pointer;
   }
  
   .delete-btn{
    color: #dc3545;
    background-color: #ffffff;
    border-color: #dc3545;
    border-radius: 5px;
    cursor: pointer;
  }
  


/* start (new-book & book-update) ............ */

.content-2{
  padding: 30px 41px;
  padding-right: 100px;
 
}
 
  /*just input box  */
.user-input input[type="text"] {
  padding: 8px 12px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline-color: #007bff7e;
}
  /*  title  box */
.user-input h5{
  margin-bottom: 2px;
  font-size: 16px;
  color: #007bff;
}
  /* button (submit & back) */
.button{
  padding: 10px 0px;
}
     /* Submit button */
.button .submit {
  color: #faf6f7;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 8px 14px;
}
     /* back button */
.button .back{
  color: #faf6f7;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 8px 14px;
}


/* start book-details ..................*/

.content-3{
  padding: 30px 41px;
}

.button .back-1{
  color: #5700f8;
  background-color: #ffffff;
  border-color: #4104e9;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 8px 14px;
}

.button .edit{
  color: #c70c3b;
  background-color: #fcfcfc;
  border-color: #d60e0e;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  padding: 8px 14px;
}

  /* title of table */
.title h4 {
  background-color: #f1f1f1;
  padding: 12px 18px;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  margin: 0;
  font-size: 18px;
}

  /* around of table*/
.table {
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
} 
  /*   width  of table*/
.table table {
  width: 100%;
 border-collapse: collapse;
}
 /* Middle part of table */
.table th,
.table td {
  padding: 12px 18px;
   border-top: 1px solid #eee;
  text-align: left;
}




